$dark: #000;
$light: #fff;
$grey: #727272;
$blue: #4a79f3;
$turquoise: #3fe0d0;
$red: #ff0800;
$orange: #ff9900;

/*
* General element styling and sizing
*/

.cpfg-countdown {
  visibility: hidden;
  display: block;
  position: relative;
  width: 100%;
  max-width: 800px;
  overflow: hidden;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}
.cpfg-counter {
    text-align: center;
    box-sizing: border-box;
    float: left;
    position: relative;
    width: 25%;
    padding-top: 25%;
}
.cpfg-countdown.cpfg-elementsCount-3 {
  max-width: 600px;
}
.cpfg-countdown.cpfg-elementsCount-2 {
  max-width: 400px;
}
.cpfg-countdown.cpfg-elementsCount-1 {
  max-width: 200px;
}
.cpfg-elementsCount-3 .cpfg-counter {
    width: 33.33%;
    padding-top: 33.33%;
}
.cpfg-elementsCount-2 .cpfg-counter {
    width: 50%;
    padding-top: 50%;
}
.cpfg-elementsCount-1 .cpfg-counter {
    width: 100%;
    padding-top: 100%;
}

.cpfg-progress .cpfg-counter:after {
    content: '';
    border: none!important;
}
.cpfg-progress .cpfg-counter .cpfg-canvas {
  position: absolute;
  width: 80%;
  height: 80%;
  left: 5%;
  top: 5%;
}
.cpfg-counter .cpfg-canvas {
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
}
.cpfg-counter .cpfg-canvas {
    z-index: 12;
}

/*
* Countdown ready styles
*/

.cpfg-countdown.is-style-circular .cpfg-counter, .cpfg-countdown.is-style-circular .cpfg-counter .cpfg-canvas {
    border-radius: 50%;
}
.is-style-circular .radial-progress, .is-style-circular .radial-progress .inner-circle, .is-style-circular .radial-progress .outer-circle .mask, .is-style-circular .radial-progress .outer-circle .fill {
  border-radius: 50%;
}

/*
* Spacing corrections for Labels and Digits
*/

.cpfg-borderwidth-1 .cpfg-counter .cpfg-canvas {
    border: 1px solid;
    margin: 2px;
}
.cpfg-borderwidth-2 .cpfg-counter .cpfg-canvas {
    border: 2px solid;
    margin: 4px;
}
.cpfg-borderwidth-3 .cpfg-counter .cpfg-canvas {
    border: 3px solid;
    margin: 6px;
}
.cpfg-borderwidth-4 .cpfg-counter .cpfg-canvas {
    border: 4px solid;
    margin: 8px;
}
.cpfg-borderwidth-5 .cpfg-counter .cpfg-canvas {
    border: 5px solid;
    margin: 10px;
}

.cpfg-borderwidth-1 span.cpfg-digits{
    margin-top: -2px;
}
.cpfg-borderwidth-2 span.cpfg-digits {
    margin-top: -4px;
}
.cpfg-borderwidth-3 span.cpfg-digits {
    margin-top: -6px;
}
.cpfg-borderwidth-4 span.cpfg-digits {
    margin-top: -8px;
}
.cpfg-borderwidth-5 span.cpfg-digits {
    margin-top: -10px;
}

/*
* Labels and Digits
*/

span.cpfg-digits {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 50%;
    line-height: 0;
    z-index: 9;
}
span.cpfg-label {
    position: absolute;
    font-size: 15px;
    bottom: 30px;
    text-align: center;
    width: 100%;
    left: 0;
    z-index: 9;
}

.cpfg-digits-dark .cpfg-digits {
    color: $dark;
}
.cpfg-labels-dark .cpfg-label {
    color: $dark;
}
.cpfg-digits-light .cpfg-digits {
    color: $light;
}
.cpfg-labels-light .cpfg-label {
    color: $light;
}
.cpfg-digits-grey .cpfg-digits {
    color: $grey;
}
.cpfg-labels-grey .cpfg-label {
    color: $grey;
}
.cpfg-digits-blue .cpfg-digits{
    color: $blue;
}
.cpfg-labels-blue .cpfg-label {
    color: $blue;
}
.cpfg-digits-turquoise .cpfg-digits {
    color: $turquoise;
}
.cpfg-labels-turquoise .cpfg-label {
    color: $turquoise;
}
.cpfg-digits-red .cpfg-digits {
    color: $red;
}
.cpfg-labels-red .cpfg-label {
    color: $red;
}
.cpfg-digits-orange .cpfg-digits {
    color: $orange;
}

.cpfg-labels-orange .cpfg-label {
    color: $orange;
}
/*
* Progress indicator css
*/
.radial-progress{
    display: none;
    position: absolute;
    top: 5%;
    right: 0;
    bottom: 0;
    left: 5%;
    z-index: 10;
    background-color: #DDD;
}
.cpfg-progress .radial-progress {
    display: block;
}
.radial-progress .inner-circle{
    position: absolute;
    background-color: #fff;
    z-index: 11;
}
.radial-progress .outer-circle .mask, .radial-progress .outer-circle .fill {
  position: absolute;
  -webkit-backface-visibility: hidden;
}
.radial-progress .outer-circle .mask .fill {
  background-color: $dark;
}
.cpfg-border-dark .cpfg-counter .radial-progress .outer-circle .mask .fill {
    background-color: $dark;
}
.cpfg-border-light .cpfg-counter .radial-progress .outer-circle .mask .fill {
    background-color: $light;
}
.cpfg-border-grey .cpfg-counter .radial-progress .outer-circle .mask .fill {
    background-color: $grey;
}
.cpfg-border-blue .cpfg-counter .radial-progress .outer-circle .mask .fill {
    background-color: $blue;
}
.cpfg-border-turquoise .cpfg-counter .radial-progress .outer-circle .mask .fill {
    background-color: $turquoise;
}
.cpfg-border-red .cpfg-counter .radial-progress .outer-circle .mask .fill {
    background-color: $red;
}
.cpfg-border-orange .cpfg-counter .radial-progress .outer-circle .mask .fill {
    background-color: $orange;
}

.cpfg-border-colorful .cpfg-days .radial-progress .outer-circle .mask .fill {
    background-color: $turquoise;
}
.cpfg-border-colorful .cpfg-hours .radial-progress .outer-circle .mask .fill {
    background-color: $grey;
}
.cpfg-border-colorful .cpfg-minutes .radial-progress .outer-circle .mask .fill {
    background-color: $blue;
}
.cpfg-border-colorful .cpfg-seconds .radial-progress .outer-circle .mask .fill {
    background-color: $orange;
}

/*
* Default canvas borders
*/

.cpfg-progress .cpfg-counter .cpfg-canvas{
    border: none;
}
.cpfg-border-dark .cpfg-counter .cpfg-canvas {
    border-color: $dark;
}
.cpfg-border-light .cpfg-counter .cpfg-canvas {
    border-color: $light;
}
.cpfg-border-grey .cpfg-counter .cpfg-canvas {
    border-color: $grey;
}
.cpfg-border-blue .cpfg-counter .cpfg-canvas {
    border-color: $blue;
}
.cpfg-border-turquoise .cpfg-counter .cpfg-canvas {
    border-color: $turquoise;
}
.cpfg-border-red .cpfg-counter .cpfg-canvas {
    border-color: $red;
}
.cpfg-border-orange .cpfg-counter .cpfg-canvas {
    border-color: $orange;
}
.cpfg-border-colorful .cpfg-days .cpfg-canvas {
    border-color: $turquoise;
}
.cpfg-border-colorful .cpfg-hours .cpfg-canvas {
    border-color: $grey;
}
.cpfg-border-colorful .cpfg-minutes .cpfg-canvas {
    border-color: $blue;
}
.cpfg-border-colorful .cpfg-seconds .cpfg-canvas {
    border-color: $orange;
}


/*
* Animations
*/

[data-animation="fadein"] {
    opacity: 1;
    animation-name: cpfgFadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
[data-animation="bounceinleft"] {
    opacity: 1;
    animation-name: cpfgBounceInLeft;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
[data-animation="bounceinright"] {
    opacity: 1;
    animation-name: cpfgBounceInRight;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
@keyframes cpfgFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
@keyframes cpfgBounceInLeft {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(25px, 0, 0);
  }

  75% {
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    transform: translate3d(5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes cpfgBounceInRight {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  from {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
